div.navbar-header {
    background-color: $funfur-color !important;
    border: 0;
}

nav.navbar-default {
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
}

nav.scrolling-nav {
    background-color: $funfur-color !important;
    transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    ul {
        li {
            a, i { 
                color: #fff !important;
            }
        }
    }
}

.navbar {
    border: 0 !important;

    ul.home-route {
        li {
            a, i {
                color: #fff !important;
                font-size: 20px;
            }
        }
    }
    ul {
        li {
            a, i {
                font-size: 20px;
            }
        }
    }
}

a.navbar-brand {
    color: #fff !important;
    margin: 0 !important;
}

a.navbar-toggle {
    background-color: $funfur-color !important;
    border: 0;
    cursor: pointer;
    i {
        color: #fff;
        font-size: 1.6em;
    }
}
