.carousel-inner {
    overflow: visible !important;
    background: url("../img/main.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

.spacer {
    width: 100%;
    height: 50px;
}
.funfur-wrapper {
    display: table;
    height: 620px;
    background-color: rgba(253, 216, 49, 0.8) ;
    width: 440px;
    .funfur-description {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        h1 {
            font-size: 30px;
            margin-bottom: 50px;
        }
        p {
            font-size: 18px;
            margin: 0;
        }
        div.btn-container {
            margin-top: 50px;
        }
        h1, p {
            color: #fff;
            letter-spacing: 1.8px;            
        }
        a {
            border-radius: 10px;
            border: 0;
            margin: 0 10px;
            width: 110px;
        }
        iframe {
            width: 100%;
            height: 300px;
        }
    }
}

@media only screen and (max-width: 667px) {
    .funfur-wrapper {
        width: 100%;
        background-color: rgba(253, 216, 49, 0.8);
        .funfur-description:first-child {
            margin-top: 200px;
        }
        .funfur-description {
            display: block;
            h1 {
                font-size: 1.8em;
                text-align: center;
            }
            p {
                text-align: center;
                a {
                    margin: 0 10px;
                    width: 110px;
                }
            }
            iframe {
                margin-top: 40px;
                width: 100%;
                height: 200px;
            }
        }
    }
}