@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden; }

html, body {
  height: 100%; }

ul {
  padding: 0; }

.funfur-color {
  color: #fdd831; }

.btn-container {
  text-align: center; }

.btn-common {
  width: 30%;
  margin: 0 15px;
  padding: 10px 0; }

.btn-common.btn-prev {
  background-color: #fff;
  border: 2px solid #e7eaec;
  color: #000; }

.btn-common.btn-prev:hover {
  border: 3px solid #e7eaec; }

.btn-common.btn-next {
  background-color: #fdd831;
  border: 2px solid #fdd831;
  color: #fff; }

.btn-common.btn-next:hover {
  border: 3px solid #fdd831; }

@media only screen and (max-width: 992px) {
  footer ul.style {
    list-style: none;
    display: block; }
  footer ul li {
    display: block;
    border-left: none;
    color: #fff; } }

@media only screen and (max-width: 667px) {
  footer ul.style {
    list-style: none !important;
    display: block !important; }
  footer ul li {
    display: block !important;
    border-left: none !important; } }

footer .section .container .list-container {
  padding-top: 40px; }

footer ul.style {
  list-style: none;
  display: inline; }

footer ul li:first-child {
  border-left: none; }

footer ul li {
  border-left: 1px solid #999;
  display: inline;
  padding: 0 20px; }
  footer ul li a {
    font-size: 20px;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    color: #676a6c;
    text-decoration: none !important; }
  footer ul li a:hover {
    color: #fdd831; }

footer .funfur-line {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border-bottom: 2px solid #fdd831; }

div.navbar-header {
  background-color: #fdd831 !important;
  border: 0; }

.navbar {
  border: 0 !important; }

a.navbar-brand {
  color: #fff !important;
  margin: 0 !important; }

a.navbar-toggle {
  background-color: #fdd831 !important;
  border: 0;
  cursor: pointer; }
  a.navbar-toggle i {
    color: #fff;
    font-size: 1.6em; }

.carousel-inner {
  overflow: visible !important;
  height: 650px;
  background: url("../img/d.jpg") no-repeat; }

.spacer {
  width: 100%;
  height: 50px; }

.funfur-wrapper {
  display: table;
  height: inherit; }
  .funfur-wrapper .funfur-description {
    display: table-cell;
    vertical-align: middle; }
    .funfur-wrapper .funfur-description h1, .funfur-wrapper .funfur-description p {
      color: #fff; }
    .funfur-wrapper .funfur-description a {
      background-color: #fdd831 !important;
      color: #fff;
      margin: 0 10px;
      width: 110px; }
    .funfur-wrapper .funfur-description iframe {
      width: 100%;
      height: 300px; }

@media only screen and (max-width: 667px) {
  .funfur-wrapper {
    display: block; }
    .funfur-wrapper .funfur-description:first-child {
      margin-top: 200px; }
    .funfur-wrapper .funfur-description {
      display: block; }
      .funfur-wrapper .funfur-description h1 {
        font-size: 1.8em;
        text-align: center; }
      .funfur-wrapper .funfur-description p {
        text-align: center; }
        .funfur-wrapper .funfur-description p a {
          margin: 0 10px;
          width: 110px; }
      .funfur-wrapper .funfur-description iframe {
        margin-top: 40px;
        width: 100%;
        height: 200px; } }

.register-intro-advantage {
  margin: 45px 0; }

.intro-image-wrapper div.intro-box .intro-images {
  background-color: #fdd831;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 15px; }

.intro-txt {
  font-size: 20px !important;
  font-weight: 500; }

.intro-contents {
  margin-top: 40px;
  font-size: 1.3em;
  font-weight: 500; }

.register-btn {
  background-color: #fdd831;
  color: #fff;
  font-weight: 600 !important;
  padding: 10px 20px !important; }

.register-top-border {
  margin-top: 45px;
  border-top: 3px solid #fdd831; }

.policy-checks {
  padding: 18px 0;
  border-bottom: 2px solid #e7eaec; }
  .policy-checks label {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle; }
  .policy-checks label.overed {
    background-color: #fdd831; }
  .policy-checks input {
    display: none; }
  .policy-checks input:checked {
    position: absolute;
    width: 100%;
    height: 100%; }

.policy-box-wrapper {
  border-bottom: 2px solid #e7eaec; }
  .policy-box-wrapper .policy-box-title {
    padding-left: 15px; }
  .policy-box-wrapper .policy-box {
    background-color: #f4f4f4;
    padding: 15px 20px 20px 20px;
    border: 1px solid #e7eaec;
    clear: both; }
    .policy-box-wrapper .policy-box .policy-scroll-content {
      position: relative;
      overflow: hidden;
      width: auto;
      height: 200px; }
      .policy-box-wrapper .policy-box .policy-scroll-content .scroll-contents {
        overflow: hidden;
        width: auto;
        height: 200px; }
      .policy-box-wrapper .policy-box .policy-scroll-content p, .policy-box-wrapper .policy-box .policy-scroll-content b {
        font-size: 13px !important;
        color: #676a6c; }
      .policy-box-wrapper .policy-box .policy-scroll-content ol, .policy-box-wrapper .policy-box .policy-scroll-content li {
        list-style: none; }
      .policy-box-wrapper .policy-box .policy-scroll-content ul {
        padding-left: 40px; }
  .policy-box-wrapper .policy-box-agree {
    text-align: right;
    padding: 20px 0;
    margin: 0; }

.register-title {
  position: relative;
  padding: 0 0 30px;
  border-bottom: 2px solid #e7eaec;
  font-weight: 500; }
  .register-title ol {
    list-style: none;
    position: absolute;
    right: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    line-height: 30px;
    bottom: 30px; }
    .register-title ol li {
      float: left;
      vertical-align: bottom;
      padding: 10px;
      font-size: 18px; }
    .register-title ol li.active {
      font-size: 24px; }
      .register-title ol li.active .active-detail {
        color: #fdd831;
        padding: 0;
        margin: 0; }
