@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden; }

html, body {
  height: 100%; }

ul {
  padding: 0; }

.funfur-color {
  color: #fdd831; }

@media only screen and (max-width: 992px) {
  footer ul.style {
    list-style: none;
    display: block; }
  footer ul li {
    display: block;
    border-left: none;
    color: #fff; } }

@media only screen and (max-width: 667px) {
  footer ul.style {
    list-style: none !important;
    display: block !important; }
  footer ul li {
    display: block !important;
    border-left: none !important; } }

footer .section .container .list-container {
  padding-top: 40px; }

footer ul.style {
  list-style: none;
  display: inline; }

footer ul li:first-child {
  border-left: none; }

footer ul li {
  border-left: 1px solid #999;
  display: inline;
  padding: 0 20px; }
  footer ul li a {
    font-size: 20px;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    color: #676a6c; }

footer .funfur-line {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border-bottom: 2px solid #fdd831; }

.carousel-inner {
  overflow: visible !important;
  height: 650px;
  background: url("../img/d.jpg") no-repeat; }
