@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden; }

html, body {
  height: 100%; }

ul {
  padding: 0; }

.funfur-color {
  color: #fdd831; }

@media only screen and (max-width: 992px) {
  footer ul.style {
    list-style: none;
    display: block; }
  footer ul li {
    display: block;
    border-left: none;
    color: #fff; } }

@media only screen and (max-width: 667px) {
  footer ul.style {
    list-style: none !important;
    display: block !important; }
  footer ul li {
    display: block !important;
    border-left: none !important; } }

footer .section .container .list-container {
  padding-top: 40px; }

footer ul.style {
  list-style: none;
  display: inline; }

footer ul li:first-child {
  border-left: none; }

footer ul li {
  border-left: 1px solid #999;
  display: inline;
  padding: 0 20px; }
  footer ul li a {
    font-size: 20px;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    color: #676a6c;
    text-decoration: none !important; }
  footer ul li a:hover {
    color: #fdd831; }

footer .funfur-line {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border-bottom: 2px solid #fdd831; }

div.navbar-header {
  background-color: #fdd831 !important;
  border: 0; }

.navbar {
  border: 0 !important; }

a.navbar-brand {
  color: #fff !important;
  margin: 0 !important; }

a.navbar-toggle {
  background-color: #fdd831 !important;
  border: 0;
  cursor: pointer; }
  a.navbar-toggle i {
    color: #fff;
    font-size: 1.6em; }

.carousel-inner {
  overflow: visible !important;
  height: 650px;
  background: url("../img/d.jpg") no-repeat; }

.funfur-wrapper {
  display: table;
  height: inherit; }
  .funfur-wrapper .funfur-description {
    display: table-cell;
    vertical-align: middle; }
    .funfur-wrapper .funfur-description h1, .funfur-wrapper .funfur-description p {
      color: #fff; }
    .funfur-wrapper .funfur-description a {
      background-color: #fdd831 !important;
      color: #fff;
      margin: 0 10px;
      width: 110px; }
    .funfur-wrapper .funfur-description iframe {
      width: 100%;
      height: 300px; }

@media only screen and (max-width: 667px) {
  .funfur-wrapper {
    display: block; }
    .funfur-wrapper .funfur-description:first-child {
      margin-top: 200px; }
    .funfur-wrapper .funfur-description {
      display: block; }
      .funfur-wrapper .funfur-description h1 {
        font-size: 1.8em;
        text-align: center; }
      .funfur-wrapper .funfur-description p {
        text-align: center; }
        .funfur-wrapper .funfur-description p a {
          margin: 0 10px;
          width: 110px; }
      .funfur-wrapper .funfur-description iframe {
        margin-top: 40px;
        width: 100%;
        height: 200px; } }
