nav.ceo-nav-top {
    margin: 0 !important;
    border-bottom: 0.5px solid #979797 !important;
    ul.nav.navbar-right {
        padding-right: 15px;
        li {
            display: inline-block;
            cursor: pointer;
            padding-right: 15px;
            a:hover, a:focus {
                background-color: #fff;
            }
            i {
                margin-right: 6px;
            }
            span {
                font-size: 14px;
            }
        }
    }
}