.exchange-table {
  height: 40px;
  border: solid 1px #757575;
  padding: 0;

  .no {

  }

  .btn-yellow {
    width: 70px;
    height: 25px;
    background-color: #fdd831;
    border: solid 1px #fdd831;
    outline: none;
  }

  .handle {
    width: 85px;
  }

  #more_info {
    text-decoration-line: underline;
    color: #4990e2;
  }
}

.modal-dialog.exchange {
  margin-top: 200px;

  .close {
    outline: none;
  }

  .modal-header {
    #modal-x {
      width: 30px;
      height: 30px;
      background: url("../img/modal-x.svg");
      color: black;
      outline: none;
    }
  }

  .modal-body {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #000000;

    .modal-dialog-btn {
      width: 80px;
      height: 40px;
      outline: none;
    }

    #btn-complete {
      background-color: #fdd831;
      border: solid 1px #fdd831;
    }

    #btn-reject {
      border: solid 1px #fdd831;
    }

    .can-return {
      margin-top: 20px;
      height: 70px;
    }

    .cannot-return {
      height: 70px;
    }

    .message {
      margin-right: 20px;
    }
  }



}