.exchange-table {
  height: 40px;
  border: solid 1px #757575;
  padding: 0;

  .no {

  }

  .btn-yellow {
    width: 70px;
    height: 25px;
    background-color: #fdd831;
    border: solid 1px #fdd831;
  }

  .handle {
    width: 85px;
  }


}