@media only screen and (min-width: 767px) {
    .container.order-wrapper {
        width: 95%;
    }
}

.order-header {
    margin: 50px 0;
    font-size: 18px;
}

.order-table {
    width: 100%;
    margin: 0 auto;
    table, th, tr, td {
        text-align: center;
        font-weight: inherit;
        font-size: 13px;
        letter-spacing: 0.2px;
    }
    thead {
        border: 1px solid aliceblue;

        .head-NO {
            width: 46px;
        }

        .head-product {
            width: 213px;
        }

        .head-buyer {
            width: 231px;
        }

        .head-shipping {
            width: 450px;
        }

        .head-sheet {
            width: 54px;
        }

        .shippingMethod {
            width: 84px;
        }

        .shippingCompany {
            width: 120px;
        }


    }
    th {
        padding: 5px 0;
        background-color: #757575;
        color: #fff;
        border: 1px solid #fff;
    }
    td.number-line {
        border-right: 1px solid #979797;
    }
    td.half-line {
        border-right: 0.5px solid #979797;
    }

    tbody .body {
        height: 50px;

        #more_info {
            text-decoration-line: underline;
            color: #4990e2;
        }
    }

    .form-control {
        height: 21px;
        text-align: center;
        display: inline;

        &.shippingMethod {
            width: 70px;
        }

        &.shippingCompany {
            width: 100px;

        }

        &.trackingNumber {
            width: 192px;
            height: 30px;
            margin-right: 10px;
            background-color: #ededed;
        }
    }

    button {
        width: 40px;
        height: 25px;
        background-color: #ffffff;
        border: solid 0.7px #000000;

        &.input {
            border: solid 1px #fdd831;
            background-color: #fdd831;
        }

    }

}

.order__specific__wrapper {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    width: 420px;
    padding-bottom: 30px;

    #x {
        background: url("../img/modal-x.svg") no-repeat;
        width: 30px;
        height: 30px;
        color: black;
        display: inline-block;
        position: relative;
        right: -285px;
        top: 12px;
        cursor: pointer;
    }

    #print {
        background: url("../img/icon-print.svg") no-repeat;
        width: 42px;
        height: 42px;
        margin: 0;
        float: right;
        text-align: center;
        padding-top: 40px;
        font-size: 13px;
        cursor: pointer;
    }

    td, tr, th {
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
        font-weight: normal;
        font-size: 13px;
    }

    tr {
        width: 100%;
    }

    td, th {
        height: 30px;
    }

    table {
        margin-top: 10px;
        width: 100%;
    }

    & > div {
        margin-top: 25px;
    }

    & > div > span {
        padding-left: 10px;
    }

    .title {
        text-align: center;
        width: 80px;
        border-right: 1px solid #979797;
        color: #757575;

        &.left-border {
            border-left: 1px solid #979797;
        }
    }

    .contents {
        padding-left: 10px;
    }

    .center {
        text-align: center;
        width: 100%;
        border: 0;
        margin: 30px 0 0;
        padding: 0;
    }

    #confirm {
        background-color: #fdd831;
        border: none;
        font-size: 12px;
        width: 80px;
        height: 40px;
        margin: 0;
        letter-spacing: 2px;
        outline: none;
    }
}