
.navbar-static-side {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    .side-nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        h3 {
            font-size: 16px;
        }
        .nav-header {
            padding: 33px 0;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;

            .nav-header-contents {
                h3 {
                    margin-top: 5px;
                }
            }
        }
        li {
            position: relative;
            display: block;
            a:hover, afocus {
                background-color: $funfur-color;
                color: #000;
            }
            .nav-link {
                position: relative;
                display: block;
                padding: 14px 20px 14px 25px;
                text-decoration: none;
                color: #a7b1c2;
                font-weight: 600;

                .side-menu-right {
                    float: right;
                }

                i {
                    margin-right: 6px;
                    color: inherit;
                }
                span {
                    color: inherit;
                }
                span.label-info {
                    color: #000;
                    background-color: $funfur-color;
                }
            }
            .nav-link.second-depth {
                padding: 7px 10px 7px 10px;
                padding-left: 52px;
            }
        }
        li.active {
            border-left: 4px solid $funfur-color;
            background: #fff;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;

        }
    }
}

@media only screen and (min-width: 768px) {
    .navbar-static-side {
        position: absolute;
        width: 260px;
    }
}
