// all checkbox
.policy-checks {
    padding: 35px 0;
    label {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }
    span {
        padding-left: 15px;
        font-size: 14px;
    }
}

.policy-box-wrapper {
    .policy-box-title {
        width: 260px;
        font-size: 16px;
        text-align: center;
        padding-bottom: 4px;
        margin-bottom: 30px;
        border-bottom: 1px solid #000;
    }
    .policy-box {
        background-color: #f4f4f4;
        padding: 15px 20px 20px 20px;
        border: 1px solid #e7eaec;
        clear: both;

        .policy-scroll-content {
            position: relative;
            overflow: hidden;
            width: auto;
            height: 200px;
            .scroll-contents {
                overflow: hidden;
                width: auto;
                height: 200px;
            }
            p, b {
                font-size: 13px !important;
                color: #676a6c;
            }
            ol, li {
                list-style: none;
            }
            ul {
                padding-left: 40px;
            }
        }
    }
    .policy-box-agree {
        text-align: right;
        padding: 20px 0;
        margin: 0;
        label {
            vertical-align: middle;
        }
        span {
            padding-left: 10px;
            vertical-align: middle;
        }
    }
}