.register-intro-advantage {
    margin: 45px 0;
}

.intro-image-wrapper {
    div.intro-box {
        .intro-images {
            background-color: $funfur-color;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }
}

.intro-txt {
    font-size: 20px !important;
    font-weight: 500;
}

.intro-contents {
    margin-top: 40px;
    font-size: 1.3em;
    font-weight: 500;
}

.register-btn {
    background-color: $funfur-color;
    color: #fff;
    font-weight: 600 !important;
    padding: 10px 20px !important;
}

// @media only screen and (max-width: 667px) {
//     .register-btn {
//         float: none;
//     }
// }