.register-intro-advantage {
    margin: 70px 0 40px 0;
    font-size: 20px !important;
}

.intro-image-wrapper {
    div.intro-box {
        .intro-images {
            background-color: $funfur-color;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }
}

#intro-1.intro-images {
    background: url("../img/intro1.png") no-repeat;
    background-size: 100%;
}

#intro-2.intro-images {
    background: url("../img/intro2.png") no-repeat;
    background-size: 100%;
}

#intro-3.intro-images {
    background: url("../img/intro3.png") no-repeat;
    background-size: 100%;
}

.intro-txt {
    font-size: 20px !important;
    font-weight: 500;
}

.intro-contents {
    margin-top: 40px;
    font-size: 16px;
    color: #d0011b;
}

.register-btn {
    font-size: 20px !important;
    padding: 14px 20px !important;
    border-radius: 10px !important;
}

// @media only screen and (max-width: 667px) {
//     .register-btn {
//         float: none;
//     }
// }